@import '../../styles/index.less';

@prefixCls: ~'@{prefix}-breadcrumb';

.@{prefixCls}{
  font-size: @breadcrumb-font-size;
  list-style: none;
  a {
    color: @breadcrumb-link-color;
    transition: color @default-transition;
    &:hover {
      color: @breadcrumb-link-hover-color;
    }
  }
  &-item {
    &:last-child {
      .one-breadcrumb-item-seperator {
        display: none;
      }
    }
    color: @breadcrumb-link-color;
    &-seperator {
      margin: @bread-crumb-seperator-margin;
    }
    &-link {
      & > a {
        color: @font-color;
        text-decoration: none;
      }
    }
  }
}
