/* Button */
.btn-size(@height, @padding, @font-size, @border-radius) {
  height: @height;
  padding: @padding;
  border-radius: @border-radius;
  font-size: @font-size;
  line-height: @height;
}
.btn-bg(@bg) {
  background-color: @bg;
}

// Grid
@grid-columns: 24;

.loop-grid-columns(@index, @class) when (@index > 0) {
  .loop-grid-columns(@index - 1, @class);
  .@{prefix}-col@{class}-@{index} {
    width: percentage(@index / @grid-columns);
  }
}

.make-grid(@class: ~'') {
  .loop-grid-columns(@grid-columns, @class);
}
